body {
  background-image: url(../imgs/wp2581365.jpg);
}
.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";
  align-items: center;
  justify-content: center;
  width: 25vw;
  height: 70vh;
  margin: 10px;

  border-radius: 20px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;

  transition: 0.5s ease;
  cursor: pointer;
  /* -1 */
}
.card-image-1 {
  grid-area: image;
  background: url(../imgs/maxresdefault.jpg);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  padding: 10px;
  height: 160px;
}
.card-text-1 {
  grid-area: text;
  margin: 25px;
}
.card-text-1 .date {
  color: tomato;
  font-size: 13px;
}
.card-text-1 p {
  color: gray;
  font-size: 15px;
  font-weight: 300;
}
.card-text-1 h2 {
  margin-top: 0px;
  font-size: 28px;
}
.card-stats-1 {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: red;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.card-stats-1 .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  color: white;
}
.card-stats-1 .type {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}
.card-stats-1 .value {
  font-size: 22px;
  font-weight: 500;
}
/* -2 */
.card-image-2 {
  grid-area: image;
  background: url(../imgs/1.jpg);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  padding: 10px;
  height: 160px;
}
.card-text-2 {
  grid-area: text;
  margin: 25px;
}
.card-text-2 .date {
  color: green;
  font-size: 13px;
}
.card-text-2 p {
  color: gray;
  font-size: 15px;
  font-weight: 300;
}
.card-text-2 h2 {
  margin-top: 0px;
  font-size: 28px;
}
.card-stats-2 {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: green;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.card-stats-2 .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  color: white;
}
.card-stats-2 .type {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}
.card-stats-2 .value {
  font-size: 22px;
  font-weight: 500;
}
/* -3 */
.card-image-3 {
  grid-area: image;
  background: url(../imgs/2.jpg);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  padding: 10px;
  height: 160px;
}
.card-text-3 {
  grid-area: text;
  margin: 25px;
}
.card-text-3 .date {
  color: blue;
  font-size: 13px;
}
.card-text-3 p {
  color: gray;
  font-size: 15px;
  font-weight: 300;
}
.card-text-3 h2 {
  margin-top: 0px;
  font-size: 28px;
}
.card-stats-3 {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: blue;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.card-stats-3 .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  color: white;
}
.card-stats-3 .type {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}
.card-stats-3 .value {
  font-size: 22px;
  font-weight: 500;
}

/* hover */
.card:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}
.align {
  display: flex;
  justify-content: center;
}